body {
    margin: 0;
    border:0px;
    background:#F4F4F4;
}

#bluezone{
    margin-top:0px;
    background:#6943FF;
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
    color:white;
}

#in-val{
    display:flex;
    margin:10px auto;
    padding:10px 20px;
    width:60px;
    text-align:center;
    border:1px solid white;
    background:#6943FF;
    border-radius:5px;
    font-size:40px;
    color:white;
}

.sub-btn{
    padding:8px 20px;
    margin:10px auto 20px;
    background:white;
    border:none;
    border-radius:5px;
}

.con-val{
    display:flex;
    flex-direction:column;
    padding:0px;
    margin:30px 30px 10px;
    text-align:center;
    align-items:center;
    background:#FFFFFF;
    border-radius:5px;
    flex-wrap:wrap;
    
}

.con-head{
    color:#5A537B;
    padding-bottom:0px;
    margin-top:20px;
}

.val-dis{
    padding-top:0px;
    margin-top:0px;
    color:#353535;
}